* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: black;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.lefthalf {
  background: url(../images/bg.jpg);
  width: 50%;
  position: absolute;
  left: 0px;
  height: 100%;
  background-size: cover;
}
.righthalf {
  background: linear-gradient(to right, rgb(79, 126, 255), rgb(0, 47, 255));
  width: 50%;
  position: absolute;
  right: 0px;
  height: 100%;
  background-size: cover;
  clip-path: circle(420px at 500px 500px);
}
.righthalf form {
  height: 540px;
  width: 555px;
  background-color: #00000027;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 52%;
  border-radius: 100px;
  backdrop-filter: blur(10px);
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  border-left: 2px solid rgb(255, 255, 255, 0.4);
  /* border-right: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4); */
  box-shadow: 16px 20px 40px rgba(0, 0, 0);
  padding: 40px 35px;
}
form * {
  font-family: "Poppins", sans-serif;
  color: white;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h1 {
  font-size: 32px;
  font-weight: 900;
  line-height: 42px;
  text-align: center;
  text-shadow: 0 0 2px rgb(38, 0, 255), 0 0 5px #0000ff;
}
label {
  display: block;
  margin-top: 30px;
  padding-left: 15px;
  font-size: 20px;
  font-weight: 700;
  text-shadow: 0 0 2px rgb(38, 0, 255), 0 0 5px #0000ff;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #0000ff;
  border-radius: 50px;
  padding: 0 20px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  box-shadow: 0 0 8px #0026ff;
}
::placeholder {
  color: rgba(0, 0, 0, 0.288);
}
.buttonclass {
  position: relative;
  justify-content: center;
  text-align: center;
}
#submit,
#reset {
  display: inline-block;
  margin-top: 40px;
  margin-left: 20px;
  width: 150px;
  background-color: rgb(250, 250, 250);
  color: rgb(0, 119, 255);
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 0 8px #0026ff;
}
@media only screen and (max-width: 1370px) {
  .righthalf {
    background: linear-gradient(to right, rgb(79, 126, 255), rgb(0, 47, 255));
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
    background-size: cover;
    clip-path: circle(320px at 350px 360px);
  }
  .righthalf form {
    height: 440px;
    width: 455px;
    background-color: #00000027;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 100px;
    backdrop-filter: blur(10px);
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-left: 2px solid rgb(255, 255, 255, 0.4);
    /* border-right: 2px solid rgba(0, 0, 0, 0.4);
      border-bottom: 2px solid rgba(0, 0, 0, 0.4); */
    box-shadow: 16px 20px 40px rgba(0, 0, 0);
    padding: 40px 35px;
  }
  form * {
    font-family: "Poppins", sans-serif;
    color: white;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
  form h1 {
    font-size: 25px;
    font-weight: 900;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 0 2px rgb(38, 0, 255), 0 0 5px #0000ff;
  }
  label {
    display: block;
    margin-top: 25px;
    padding-left: 12px;
    font-size: 15px;
    font-weight: 700;
    text-shadow: 0 0 2px rgb(38, 0, 255), 0 0 5px #0000ff;
  }
  input {
    display: block;
    height: 30px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: #0000ff;
    border-radius: 50px;
    padding: 0 20px;
    margin-top: 8px;
    font-size: 12px;
    font-weight: 300;
    box-shadow: 0 0 8px #0026ff;
  }
  ::placeholder {
    color: rgba(0, 0, 0, 0.288);
  }
  .buttonclass {
    position: relative;
    justify-content: center;
    text-align: center;
  }
  #submit,
  #reset {
    display: inline-block;
    margin-top: 30px;
    margin-left: 0px;
    width: 100px;
    background-color: rgb(250, 250, 250);
    color: rgb(0, 119, 255);
    padding: 15px 0;
    font-size: 15px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 0 8px #0026ff;
  }
}
@media only screen and (max-width: 1080px) {
  .righthalf {
    background: linear-gradient(to right, rgb(79, 126, 255), rgb(0, 47, 255));
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
    background-size: cover;
    clip-path: circle(250px at 270px 400px);
  }
  .righthalf form {
    height: 340px;
    width: 355px;
    background-color: #00000027;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    border-radius: 100px;
    backdrop-filter: blur(10px);
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-left: 2px solid rgb(255, 255, 255, 0.4);
    /* border-right: 2px solid rgba(0, 0, 0, 0.4);
      border-bottom: 2px solid rgba(0, 0, 0, 0.4); */
    box-shadow: 16px 20px 40px rgba(0, 0, 0);
    padding: 30px 25px;
  }
  form * {
    
    font-family: "Poppins", sans-serif;
    color: white;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
  form h1 {
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 0 2px rgb(38, 0, 255), 0 0 5px #0000ff;
  }
  label {
    display: block;
    margin-top: 15px;
    padding-left: 12px;
    font-size: 12px;
    font-weight: 700;
    text-shadow: 0 0 2px rgb(38, 0, 255), 0 0 5px #0000ff;
  }
  input {
    display: block;
    height: 20px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: #0000ff;
    border-radius: 50px;
    padding: 0 20px;
    margin-top: 8px;
    font-size: 10px;
    font-weight: 300;
    box-shadow: 0 0 8px #0026ff;
  }
  ::placeholder {
    color: rgba(0, 0, 0, 0.288);
  }
  .buttonclass {
    position: relative;
    justify-content: center;
    text-align: center;
  }
  #submit,
  #reset {
    display: inline-block;
    margin-top: 30px;
    margin-left: 0;
    width: 80px;
    background-color: rgb(250, 250, 250);
    color: rgb(0, 119, 255);
    padding: 10px 0;
    font-size: 12px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 0 8px #0026ff;
  }
}
